<!doctype>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<link style = "text/css" rel = "stylesheet" href = "stylesheet.css"/>
		<title>
			Weather
		</title>
	</head>
	<body>

	<div id="widget_carousel">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" date-interval="5">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" style = "width: 285px; margin: 10"> <!--Weather-->
		    <div class="item active" id="weather_section">
		      <h4>Today's Weather for New York City:</h4>
		     
				<table style="width:100%l height: 500px" >
			  		<tr>
			    		<th><b>Current Temp and Condition:</b></th>
			    		<td><%= @temp %></td>
			  		</tr>
			  		<tr>
			    		<th><b>Today's Hi:</b></th>
			    		<td><%= @temp_hi %></td>
			  		</tr>
					  <tr>
					    <th><b>Today's Lo:</b></th>
					    <td><%= @temp_lo %></td>
					  </tr>
				</table>
		    </div>

		    <div class="item"> <!-- news -->
			     <div class="titlebox center-block">
					<h2>Today's Headlines :</h2>
				</div>

				<div class="headlinebox center-block">
			 	   <% @fixed_headlines.each do |h| %>
			  	  <p><%= h%></p>
			   	 <% end %> 
			    	<a href ="@fixed_headlines[0]"></a>
		    	</div>
		    </div>

		    <div class="item" id="sport_section"> <!--sports-->
		    	<div class="titlebox center-block">
		    		<h2>Sports Headlines :</h2>
		    	</div>
		    <div class="headlinebox center-block">
		      <% @sportsscrape.each do |h|%>
			  	  <p><%= h%></p>
			   	 <% end %> 
		    </div>
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		  </a>
		</div> <!-- Carousel -->
	</div> <!--widget_carousel-->	

	<div class = "about_container">
		<h3>About the Creators:</h3>
		<p>This widget application was developed by Robert Freitag and Edward Yoo using Ruby, HTML, CSS, Javascript, and Bootstrap!</p>
		<p>We also relied on github to simultaneously program different sections of our application/website/widget.</p>


	</body>


<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</html>
